body {
    align-items: center;
    justify-content: center;
}

  
#img01 {
    border: none;
    width:10px;
    height:10px;
    border-radius:10px;
}

#current01 {
    border: none;
    width: 60px;
    height: 60px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#searchContainer {
    align-items: center;
    justify-content: center;
    text-align:center;
    padding-top: 25px;
    border-radius:10px;
}

#weatherContainer01 {
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    text-align:center;
    width: 200px;
    height: 220px;
    background-color: #abbff1;
    border-radius: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}